@model Trip

@{ 
    string title = ViewBag.Action;
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="ThingsToDo" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <input asp-for="ThingToDo1" class="form-control" />
    </div>

    <div>
        <input asp-for="ThingToDo2" class="form-control" />
    </div>

    <div>
        <input asp-for="ThingToDo3" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>